body{
    font-family: 'montserrat', sans-serif;
    background-image: url(./image/bg.jpg);
    background-size: cover;
    background-position: top center;
}

.container-fluid{
    margin-top: 8vh;
}

.bg-secondary{
    height: 70vh;
}